body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #f4f6f9;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e !important;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
}

.username {
    font-weight: 500;
    color: #333;
    display: flex;
    align-items: center;
    gap: 6px;
}


.logo h2 {
    margin: 0;
    font-size: 24px;
}

.nav-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.username {
    font-weight: bold;
}

.logout-btn {
    color: white;
    text-decoration: none;
}

.dashboard-container {
    display: flex;
    padding-top: 70px;
    width: 100%;
}

.sidebar {
    width: 200px;
    background: #34495e;
    color: white;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 0 10px 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 16px;
}

.sidebar ul li a i {
    width: 30px;
    text-align: center;
    margin-right: 20px;
}

.sidebar ul li a span {
    flex-grow: 1;
    text-align: left;
}

.sidebar ul li a:hover {
    background: #2c3e50;
}

.main-content {
    margin-left: 200px;
    margin-right: 20px;
    padding: 10px;
    transition: margin-left 0.3s ease, width 0.3s ease;
    width: calc(100% - 200px);
}

.main-content.expanded {
    margin-left: 50px!important;
    width: calc(100% - 50px);
}